.proyects__title
{
  font-size: 3rem;  
}

.proyects__title span
{
  color: var(--violet);
  font-weight: bolder;
}

.proyects__description
{
  font-size: 1.8rem;
  margin: 10px 0px;
  padding-left: 20px;
}

.proyects__stack
{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}