.contact
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.text
{
  font-size: 1.8rem;
  padding-left: 20px;
  margin-bottom: 30px;
  margin-top: 15px;
  font-weight: bold;
}

.text span
{
  font-weight: bolder;
  color: var(--violet);
  font-size: 2rem;
}