:root
{
  --black: #16161a;
  --violet: #7f5af0;
  --white: #f3f1f5;
  --gray: #94a1b2;
  --green:#2cb67d;
}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html
{
  font-size: 62.5%;
}

body
{
  background-color: var(--black);
  width: 100%;
  height: 100vh;
}

#root
{
  background-color: var(--black);
  height: min-content;
}
